body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button:focus {
  outline: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
html,
body {
  min-height: 100%;
  background-color: rgb(227, 248, 248);
  width: 100vw;
}
#brief {
  max-width: 100vw;
  font-family: Georgia, "Times New Roman", Times, serif;
  animation-name: popin;
  animation-duration: 2.5s;
  animation-delay: 0.5s;
  opacity: 0;
  animation-fill-mode: forwards;
}
@keyframes popin {
  from {
    opacity: 0;
    margin-left: -100vw;
  }
  to {
    opacity: 1;
    margin-left: 0vw;
  }
}
p {
  padding: 3px;
}
.Prev {
  background-color: rgb(130, 176, 204) !important;
  width: 100vw !important;
  border-radius: 3px !important;
  margin-top: 0vh;
  color: black !important;
}

.fa:hover {
  color: rgb(90, 22, 145);
}
h6 {
  padding: 5px;
}
