#nav {
  height: 3vh;
  padding: 3px;
}
nav {
  border-radius: 3px;
}
#main {
  width: 100%;
  overflow-x: hidden;
}
.header {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: wheat;
}
.navbar {
  width: 100%;
}
.btnbreathe {
  width: 50vw;
  background: linear-gradient(180deg, rgb(40, 114, 156), white);
  color: black;
  text-align: center;
  border-radius: 5px;
  padding: 15px;
  margin: auto;
}
.btnbreathe:hover {
  background: linear-gradient(180deg, white, rgb(44, 116, 158));
}
#P,
#Q {
  margin: auto;
  box-shadow: 2px 2px 2px 6px rgb(124, 188, 224);
  padding: 3%;
  width: 80vw;
  border-radius: 10%;
}
.foot {
  margin-top: 10vh;
  background-color: rgb(21, 29, 29);
  color: white;
}
.mode {
  background-color: transparent !important;
  color: rgb(150, 145, 145);
  border: 0px solid black;
  padding: 2px;
  margin-left: 1.5vh;
  margin-top: 2vh;
}
.mode:hover {
  color: white;
}
.dark p {
  color: rgb(224, 197, 197);
}
.dark {
  background-color: rgb(26, 25, 25);
}
h6 {
  font-size: 15px;
}
