#nav {
  height: 3vh;
  padding: 3px;
}
nav {
  border-radius: 3px;
}
#main {
  width: 100%;
  overflow-x: hidden;
}
.header {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgb(160, 210, 223);
  text-shadow: none !important;
}
.navbar {
  width: 100%;
}
button:active {
  border: 0px solid black;
}

#P,
#Q {
  margin: auto;
  box-shadow: 2px 2px 2px 6px rgb(124, 188, 224);
  padding: 3%;
  width: 80vw;
  border-radius: 10%;
}

.mode {
  background-color: transparent !important;
  color: rgb(150, 145, 145) !important;
  border: 0px solid black;
  padding: 2px;
  margin-left: 1.5vh;
  margin-top: 13px;
}
.foot {
  background-color: rgb(46, 42, 42);
  color: rgb(228, 199, 199);
  padding: 5px;
}
.mode:hover {
  color: white !important;
}
.dark p,
h3 {
  color: rgb(224, 197, 197);
}
.dark {
  background-color: rgb(26, 25, 25);
}
h6 {
  font-size: 15px;
}
